{% extends 'base.html' %}

{% block body %}

<h3>반복문</h3>
{% for menu in menus %}
<li>{{menu}}</li>
{% endfor %}

{% for menu in menus %}
<p>{{forloop.counter}} : {{menu}}</p>
{% endfor %}

{% for e in empty %}
<p>{{e}}</p>
<!-- 만약 비어있다면 (else문이랑 비슷) -->
{% empty %}
<p>리스트가 비어있습니다.</p>
{% endfor %}

<h3>조건문</h3>
{% if '한식' in menus %}
<!-- 만약 없으면 안나옴 특정조건에만 실행 -->
<p>역시 한국인이라면 한식이지</p>
{% endif %}

{% for menu in menus %}
<p>{{forloop.counter}}번째 반복문 도는중...</p>
{% if '한식' == menu %}
<p>역시한국인은 한식이지!!</p>
{% elif '일식' == menu %}
<p>이것도 불매 운동 해야하나?</p>
{% else %}
<p>{{menu}}</p>
{% endif %}
{% endfor %}

{% endblock %}